@model EntryTestManagement.Models.Hall
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-panel">
    <!-- BEGIN : Main Content-->
    <div class="main-content">
        <div class="content-wrapper">
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="card-title" id="basic-layout-tooltip">Add Hall Details</h1>
                        </div>
                        <div class="card-content">
                            <div class="px-3">
                                @using (@Html.BeginForm("AddHall", "Admin", FormMethod.Post))
                                {
                                    @Html.ValidationSummary(true)
                                    if (@TempData["Message"] != null)
                                    {
                                        <p style="color:red !important;font-size:x-large;">@TempData["Message"]</p>
                                    }
                                    @Html.AntiForgeryToken()
                                    <div class="form-body">
                                        <br />
                                        <h4 class="form-section"><i class="ft-info"></i> About Hall</h4>
                                        <div class="form-group">
                                            <label for="userinput5">Hall Name</label>
                                            @Html.TextBoxFor(hall => hall.Name, "", new { @class = "form-control mb-1" })
                                            @Html.ValidationMessageFor(hall => hall.Name, "", new { @class = "badge badge-danger" })
                                        </div>

                                        <div class="form-group">
                                            <label for="userinput3">Hall Capacity</label>
                                            @Html.TextBoxFor(hall => hall.Capacity, "", new { @class = "form-control mb-1" })
                                            @Html.ValidationMessageFor(hall => hall.Capacity, "", new { @class = "badge badge-danger" })
                                        </div>
                                    </div>
                                    <div class="recover-pass">
                                        <input type="submit" id="submit" name="submit" class="btn btn-raised btn-primary mr-1" value="Add hall">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
